pretty-input input {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 4px 11px;
	width: -webkit-fill-available;
	height: 32px;
	line-height: 1.5;
	transition: all .3s;
	box-sizing: border-box;
}

pretty-input div:hover {
	border-color: var(--default-color-hv)
}

pretty-input div.focus {
	border-color: var(--default-color-hv);
	box-shadow: 0 0 0 2px var(--defauld-bs-color);
}

pretty-input > div {
	border-radius: 4px;
	border: 1px solid var(--border-color);
	height: fit-content;
	display: grid;
	grid-template-columns: 1fr 2em;
}

pretty-input > div > svg{ 
	place-self: center;
	font-size: 16px;
	color: var(--default-color);
	cursor: pointer;
	transition: all .3s;
}

pretty-input > div > svg:hover{ 
	color: var(--dark-color-hv);
	transform: scale(1.2, 1.2);
}

/* Sizes */

pretty-input[size="large"] input {
	height: 40px;
	padding: 6px 11px;
	font-size: 16px;
}

pretty-input[size="small"] input {
	height: 24px;
	padding: 1px 7px;
}

pretty-input .lds-dual-ring {
	width: 18px;
	height: 18px;
}

pretty-input .lds-dual-ring::after {
	width: 15px;
	height: 15px;
}

pretty-input pretty-spinner {
	margin-top: 5px;
	margin-left: 5px;
}

pretty-input .show {
	place-self: center;
	transition: all .3s;
	color: var(--default-color);
}

pretty-input .show > * {
	place-self: center;
}

pretty-input .show:hover{ 
	color: var(--dark-color-hv);
	transform: scale(1.2, 1.2);
}