pretty-button > button {
	height: 32px;
	padding: 0 15px;
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
	box-shadow: 0 2px 0 rgba(0,0,0,0.015);
	position: relative;
	display: inline-block;
	line-height: 1.5;
	font-weight: 400;
	font-size: 14px;
	background-color: #ffffff;
	color: var(--default-color);
	border: 1px solid var(--default-brd);
	cursor: pointer;
	touch-action: manipulation;
	white-space: nowrap;
	border-radius: 4px;
	outline: none;
}

pretty-button > button:hover {
	border-color: var(--default-color-hv);
	color: var(--default-color-hv);
}

/* types */

pretty-button[type="primary"] > button {
	background-color: var(--primary-bg);
	color: var(--primary-color);
	border: 1px solid var(--primary-bg);
}

pretty-button[type="primary"] > button:hover {
	background-color: var(--primary-bg-hv);
	border: 1px solid var(--primary-bg-hv);
}

pretty-button[type="danger"] > button {
	background-color: var(--danger-bg);
	color: var(--primary-color);
	border: 1px solid var(--danger-bg);
}

pretty-button[type="danger"] > button:hover {
	background-color: var(--danger-bg-hv);
	border: 1px solid var(--danger-bg-hv);
}

pretty-button[type="dashed"] > button {
	border-style: dashed;
}

pretty-button[type="dashed"] > button:hover {
	color: var(--primary-bg-hv);
	border: 1px dashed var(--primary-bg-hv);
}

pretty-button[type="link"] > button {
	color: var(--primary-bg);
	background-color: transparent;
	border-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

pretty-button[type="link"] > button:hover{
	color: var(--primary-bg-hv);
	background-color: transparent;
}

/* Sizes */

pretty-button[size="large"] > button {
	height: 40px;
	padding: 0 15px;
	font-size: 16px;
}

pretty-button[size="small"] > button {
	height: 24px;
	padding: 0 7px;
	font-size: 14px;
}